* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(255, 255, 255);
  border-bottom-right-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgba(77, 6, 243, 0.5), rgba(180, 19, 19, 0.5));
  border-radius: 10px;
}

main {
  position: fixed;
  z-index: 2;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
  font-family: 'Poppins', sans-serif;
}

#overlay2 {
  position: fixed;
  z-index: 2;
  width: 80vw;
  height: 88vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.65);
  backdrop-filter: blur(100px);
}

#overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-45deg, #f53232, #e76666, #67caee, #23d5ab);
  opacity: 0.9;
  mix-blend-mode: multiply;
  background-size: 400% 400%;
  animation: gradient 50s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

h1 {
  font-family: 'Monoton', sans-serif;
}

h2 {
  font-family: 'Yeseva One', sans-serif;
  color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  font-size: 0.8em;
  color: black;
  z-index: 1;
}

.container {
  width: 35vw;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 black;
  background-image: url('./Images/bg.jpg');
}

.container:last-child {
  padding: 5%;
}

#title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#confetti {
  position: absolute;
  right: 0;
  top: 10px;
  height: 4em;
  width: 50%;
}

#top-player {
  padding: 0 10%;
  font-weight: bold;
  font-size: 1.3em;
}

#board {
  margin-top: 1.5em;
  height: 50vh;
  overflow: auto;
  scrollbar-width: thin;
  border-bottom-left-radius: 5px;
}

#board table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

#board thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 1px 1px 0 black;
}

#board th {
  text-align: left;
  padding-left: 10px;
}

#board td {
  padding: 10px;
  width: 45%;
}

#board td:nth-child(2) {
  width: 5%;
}

#board tr:nth-child(even) {
  background-color: gainsboro;
}

#board tr:nth-child(odd) {
  background-color: white;
}

#score-container {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

#score-heading {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 2em 0;
}

button {
  background: whitesmoke;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 3px rgb(255, 255, 255);
  padding: 3%;
  font-weight: bold;
  cursor: pointer;
}

#add-score {
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 1em;
  border: 0;
  height: 40px;
  padding: 2% 5%;
  border-radius: 4px;
}

form button {
  width: 40%;
  align-self: flex-end;
}

.rocket-cursor {
  cursor: url(./Images/Rocket.png), auto;
}

.ufo-cursor {
  cursor: url(./Images/UFO.png), auto;
}

@media only screen and (max-width: 768px) {
  main {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    width: 100vw;
    overflow: auto;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    padding-bottom: 2em;
  }

  h1 {
    text-align: center;
  }

  footer {
    position: relative;
  }

  #overlay2 {
    opacity: 0;
  }

  #title {
    flex-direction: column;
  }

  #top-player {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  #confetti {
    top: 4em;
    height: 3em;
    width: 100%;
  }

  #score-container {
    flex-direction: column;
  }

  .container {
    width: 90vw;
  }

  .container:last-child {
    margin-top: 2em;
  }
}

@media only screen and (max-width: 350px) {
  h1 {
    font-size: 150% !important;
  }
}
